defaultvoice.uar
resampler.exe
utau0416installer.zip
wavtool2.exe
voice/
temp.wav
AquesTalk.dll
mkdefo.exe
defota.wav
defota.zip
koe.wav
koe.zip
loliedit.zip
man2.wav
man2.zip
momo.wav
momoneA.zip
nago.wav
nagonemako_a2.uar
oto.old.wav
oto.wav
TETO-tougou-110401.zip
vendor/
Gemfile.lock
.bundle/
